p.font_8 {
  font-size: 3vw;
}

@media (min-width: 720px) {
  p.font_8 {
    font-size: 2vw;
  }
}
Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3vw); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

.comet {
  position: absolute;
}

button {
   animation: color-warp 5s ease-in-out infinite alternate;
   background-color: transparent;
  }

  @keyframes color-warp {
    0% {
      background-color: transparent;
      border: ridge whitesmoke;
      box-shadow: 0 0 10px rgba(197, 197, 197, 0.5);
    }
    100% {
      background-color: rgb(163, 163, 163);
      border: ridge green;
      box-shadow: 0 0 1px rgba(126, 51, 255, 0.5);
    }
  }

.color {
  animation: color-change 5s ease-in-out infinite alternate;
  font-family: times new roman, times, serif;
  font-size: 9vw;
  letter-spacing: 0.1em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, white, blue);
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  .color2 {
    animation: color-change 1s ease-in-out infinite alternate;
    font-family: times new roman, times, serif;
    font-size: 1.5vw;
    line-height: 1.5;
    letter-spacing: 0.1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, white, blue);
    animation: glow 5s ease-in-out infinite alternate;
  }

  .fancy {
    animation: color-change 1s ease-in-out infinite alternate;
    font-family: times new roman, times, serif;
    font-size: 4vw;
    line-height: 1.3en;
    letter-spacing: 0.1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, white, blue);
    animation: glow 5s ease-in-out infinite alternate;
  }

  .lume {
    animation: color-change 1s ease-in-out infinite alternate;
    font-family: bodoni-w01-poster,bodoni-poster-w10,fantasy; 
    font-size:6vw;
    line-height: 1.3en;
    letter-spacing: 0.1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, white, blue);
    animation: glow 5s ease-in-out infinite alternate;
  }
  
  .plume {
    animation: color-change 1s ease-in-out infinite alternate;
    font-family:times new roman,times,serif; 
    font-size:3vw;
    text-align:justify; 
    padding-right: 15vw; 
    padding-left: 15vw;
    line-height: 1.3en;
    letter-spacing: 0.1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, white, rgb(0, 0, 0));
    animation: glow 5s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0px 0px 1px rgb(99, 52, 255);
    }
    to {
      text-shadow: 0px 0px 10px rgb(113, 91, 255);
    }
  }

  @keyframes color-change {
    0% {
      color: white;
    }
    100% {
      color: rgb(64, 50, 161);
    }
  }

  .text {
    background-image: linear-gradient(to right, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}


.bottom-left {
  position: absolute;
  bottom: 1vw;
  left: 2vw;
}


.top-left {
  position: absolute;
  top: 1vw;
  left: 2vw;
}


.top-right {
  position: absolute;
  top: 1vw;
  right: 2vw;
}


.bottom-right {
  position: absolute;
  bottom: 1vw;
  right: 2vw;
}

/* Centered text */
.centered {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 1vw;
  grid-gap: 5vw;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 1vw;
}

.column img {
  margin-top: 2vw;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  p {
  font-size: 2vw;
  }

  h1 {
  font-size: 5vh;
  }

  span {
  font-size: 1.5em;
  }
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-size: 2vw;
}

@media (min-width: 480px) {
  body {
    font-size: 1vw;
  }
}

.font_8 {
  font-size: 1.5em;
}
